.copyright-text{
    color: white;
    font-size: 0.55em;
}

.border-right {
    border-right: 1px solid white;
}

#social-media a {
    font-size: 2rem;
}

#other-links a {
    font-size: 0.6rem;
}


a {
    text-decoration: none !important;
    color: white !important;
}

a:hover{
    color: rgba(213, 213, 213, 0.948) !important;
}