.copyright-text{
    color: white;
    font-size: 0.55em;
}


#social-media a {
    font-size: 2rem;
}

#other-links a {
    font-size: 0.6rem;
}


a {
    text-decoration: none !important;
    color: white !important;
}